<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="#" th:href="@{/starter-template.css}" rel="stylesheet">
    <title>devList!</title>
</head>
<body>
<div class="container">
    <div class="starter-template">
        <h1>게시판</h1>
        <div>총 건수 : <span th:text="${searchList.getTotalElements()}"></span></div>
        <form class="row g-3" method="GET" th:action="@{/board/list}">
            <div class="col-auto">
                <label for="searchText" class="visually-hidden"></label>
                <input
                        type="text"
                        class="form-control-plaintext"
                        id="searchText"
                        name="searchText"
                        placeholder="검색어"
                        th:value="${param.searchText}"
                />
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">검색</button>
            </div>
        </form>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">번호</th>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="list : ${searchList}">
                <td th:text="${list.id}">1</td>
                <td>
                    <a
                            th:text="${list.title}"
                            th:href="@{/board/detail(id=${list.id})}">
                        Mark</a>
                </td>
                <td th:text="${list.skillType}">skill</td>
            </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation example" class="pageli">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${1 == searchList.pageable.pageNumber + 1} ? 'disabled'">
                    <a class="page-link"
                       href="#"
                       th:href="@{/board/list(page=${searchList.pageable.pageNumber - 1}, searchText=${param.searchText})}"
                       tabindex="-1"
                       aria-disabled="true">
                        Previous
                    </a>
                </li>
                <li
                        class="page-item"
                        th:classappend="${i == searchList.pageable.pageNumber + 1} ? 'disabled'"
                        th:each="i : ${#numbers.sequence(startPage, endPage)}">
                    <a
                            class="page-link"
                            href="#"
                            th:text="${i}"
                            th:href="@{/board/list(page=${i - 1}, searchText=${param.searchText})}"
                    >1</a>
                </li>
                <li
                        class="page-item"
                        th:classappend="${searchList.totalPages == searchList.pageable.pageNumber + 1} ? 'disabled'">
                    <a
                            class="page-link"
                            href="#"
                            th:href="@{/board/list(page=${searchList.pageable.pageNumber + 1}, searchText=${param.searchText})}"
                    >Next</a>
                </li>
            </ul>
        </nav>
        <div class="text-right">
            <a type="button" class="btn btn-primary" th:href="@{/board/form}"
            >글쓰기</a>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>