body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  /* text-align: center; */
}
th,td{
  text-align: center;
}
.cen{
  text-align: center;
}
.text-right{
  margin-top: 10px;
}
.pageli{
  text-align: center;
}

.btn.btn-primary.mb-3 {
  padding: revert;
  margin-left: 5px;
}
.row{
  display: flex;
  justify-content: flex-end;
}
.col-auto{
  display: flex;
}
.modal-header border-bottom-0{
  width: 80%;
}
.modal-footer{
  align-items: flex-end;
}
.btn-primary{
  background-image: linear-gradient(to bottom,#337ab7 0,#265a88 100%);
  border-color: #245580;
}
.replyContainer{
  width: auto;
}
.line{
  border-bottom: black;
}
.classify1{
  margin-top: 15px;
}
.decContent.fileList{
  display: flex;
  flex-direction: column;
}
.row1{
  display: flex;
  justify-content: flex-start;
}
.border-dark{
  border: solid;
  padding: 10px;
  margin: 10px;
}
