body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  /* text-align: center; */
}
th,td{
  text-align: center;
}
.cen{
  text-align: center;
}
.text-right{
  margin-top: 10px;
}
.pageli{
  text-align: center;
}

.btn.btn-primary.mb-3 {
  padding: revert;
  margin-left: 5px;
}
.row{
  display: flex;
  justify-content: flex-end;
}
.col-auto{
  display: flex;
}
.account{
  display: flex;
  justify-content:flex-end;
  align-items: center;
  margin-top: 12px;
}
.text-white{
  color: aliceblue;
  margin-left: 3px;
}
.mainloginbtn{
  margin-right: 5px;
}
.modal-title{
  box-sizing: border-box;
  width: auto;
}
.classify1{
  margin-top: 20px;
}
.replyContainer{
  width: auto;
}
#replyList{
  display: flex;
  justify-content: space-between;
}
.fileList{
  display: flex;
  flex-direction: column;
}
.decContent.fileList{
  display: flex;
  flex-direction: column;
}
.disabled{
  pointer-events: none;
  cursor: default;
}
.border-dark{
  border: solid;
  border-radius: 10px;
  border-color: darkgrey;
  padding: 10px;
  margin: 10px;
}